<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__WRAPPER__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AI_AGENT_BOARD_REPO_ROOT</key>
    <string>__REPO_ROOT__</string>
    <key>AI_AGENT_BOARD_PRIVATE_ENV_FILE</key>
    <string>__PRIVATE_ENV_FILE__</string>
    <key>HOST</key>
    <string>127.0.0.1</string>
    <key>PORT</key>
    <string>8081</string>
    <key>API_URL</key>
    <string>http://127.0.0.1:8080</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/client.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/client.err.log</string>
</dict>
</plist>
